* {
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    min-width: 270px;
    max-width: 1920px;

    background-image: url("../imgs/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

main {
    min-width: 270px;
    max-width: 1920px;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.title {
    margin-left: 105px;
    padding-top: 315px;
}

.data {
    font-size: 70px;
    color: white;
    text-shadow: 2px 4px black;
}

.Part1 {
    padding-left: 35px;
    font-size: 100px;
    color: white;
    text-shadow: 2px 4px black;
}

.Part2 {
    padding-left: 100px;
    font-size: 100px;
    color: white;
    text-shadow: 2px 4px black;
}


.botton {
    margin-left: 105px;
    width: 400px;
    height: 80px;
    border-radius: 25px;
    align-content: left;
    background-color: white;
}

.botton > img {
    position: absolute;
    margin-top: 10px;
    margin-left: 25px;
}

.trailer {
    padding-top: 18px;
    padding-left: 95px;
    float: left;
    text-align: center;
    color: black;
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    text-shadow: 2px 2px black;
}

.nvbar {
    padding: 20px;
    max-height: 120px;
    min-width: 270px;
    max-width: 1920px;
    overflow: hidden;
    position: absolute;
}

.nvbar a {
    float: left;
    display: block;
    padding: 14px 60px;

    color: white;
    text-shadow: 2px 4px black;
    text-align: center;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
}

.nvbar a:hover {
    color: black;
}

.chiriro {
    display: block;
    position: absolute;
    left: 560px;
    width: 540px;
    height: 975px;
}

.rectangle {
    display: block;
    float: right;
    position: absolute;
    left: 558px;
    max-height: 975px;
    max-width: 1260px;
}